/build
/front/archive
/front/sample/build
/front/sample/node_modules
/production-tools/fat/downloaded_files
ota_main.bin
ota_filesystem.bin
front/www/ajax/getFileList/.htaccess
front/www/ajax/getFileList/dir_1/.htaccess
.gitignore
front/www/ajax/getFileList/index.json
.gitignore
front/www/ajax/getFileList/dir_1/dir_1_dir_1/index.json
.gitignore
front/www/ajax/getFileList/dir_1/dir_1_dir_1/.htaccess
front/www/ajax/getFileList/dir_1/index.json
log.txt
firmware.bin
ota_support.bin
*.pyc